In [125]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

df_scraping = pd.read_csv("WebCrawler\WebCrawler/oiseaux.csv")

df_scraping.shape

(10825, 13)

In [126]:
df_scraping.head(5)

,descripteur,disparition,envergure,espece,famille,genre,image,localisation,ordre,poids,taille,text,title
0,"Bechstein, 1812",NaN,: 64 à 68 cm.,longicauda,\r\n,Scolopacidés,https://www.oiseaux.net/photos/serge.nicolle/i...,https://www.oiseaux.net/maps/images/bartramie....,Charadriiformes,: 97 à 226 g,: 32 cm,Les bartramies sont des oiseaux de rivage de t...,Bartramie des champs
1,"Linnaeus, 1758",NaN,: 70 à 80 cm.,lapponica,\r\n,Scolopacidés,https://www.oiseaux.net/photos/denis.chavigny/...,NaN,Charadriiformes,: 262 à 630 g,: 41 cm,La barge rousse adulte mâle en plumage d'été a...,Barge rousse
2,"Linnaeus, 1758",NaN,: 66 à 76 cm.,haemastica,\r\n,Scolopacidés,https://www.oiseaux.net/photos/denis.chavigny/...,https://www.oiseaux.net/maps/images/barge.huds...,Charadriiformes,: 195 à 358 g,: 42 cm,Barge hudsonienne (Limosa haemastica) est un o...,Barge hudsonienne
3,"Linnaeus, 1758",NaN,: 70 à 82 cm.,limosa,\r\n,Scolopacidés,https://www.oiseaux.net/photos/denis.chavigny/...,NaN,Charadriiformes,: 244 à 500 g,: 44 cm,"Chez la barge à queue noire, le mâle est plus ...",Barge à queue noire
4,"Linnaeus, 1758",LC,: 113 à 128 cm.,buteo,\r\n,Accipitridés,https://www.oiseaux.net/photos/denis.chavigny/...,NaN,Accipitriformes,: 625 à 1364 g,: 57 cm,"La Buse variable, comme son nom l'indique, a u...",Buse variable

In [127]:
df_oiseaux = pd.read_csv("WebCrawler\WebCrawler/oiseauxnet.csv")

df_oiseaux.shape

(200, 4)

In [128]:
df_oiseaux.head(5)

,id_bird,class_bird,french_name,english_name
0,1,001.Black_footed_Albatross,Albatros à pieds noirs,Black-footed Albatross
1,2,002.Laysan_Albatross,Albatros de Laysan,Laysan Albatross
2,3,003.Sooty_Albatross,Albatros fuligineux,Light-mantled Albatross
3,4,004.Groove_billed_Ani,Ani à bec cannelé,Groove-billed Ani
4,5,005.Crested_Auklet,Starique cristatelle,Crested Auklet

In [129]:
df = df_scraping.merge(df_oiseaux, left_on='title', right_on='french_name',
          suffixes=('_left', '_right'))

In [130]:
df = df.replace({np.nan: ''})

In [131]:
df["envergure"] = df["envergure"].replace({":": ''}, regex=True)
df["poids"] = df["poids"].replace({":": ''}, regex=True)
df["taille"] = df["taille"].replace({":": ''}, regex=True)

In [133]:
df.rename(columns={'id_bird': 'id'}, inplace=True)

In [135]:
df.to_csv('OiseauxFini.csv', index = True)
df.head(5)

,descripteur,disparition,envergure,espece,famille,genre,image,localisation,ordre,poids,taille,text,title,id,class_bird,french_name,english_name
0,,,,,,,,,,,,Viréo à tête noire (Vireo atricapilla) est un ...,Viréo à tête noire,151,151.Black_capped_Vireo,Viréo à tête noire,Black-capped Vireo
1,"Gmelin, JF, 1789",LC,30 cm.,bonariensis,\r\n,Ictéridés,https://www.oiseaux.net/photos/denis.chavigny/...,,Passériformes,31 à 63 g,22 cm,"Le Vacher luisant fait partie des ""Blackbirds""...",Vacher luisant,27,027.Shiny_Cowbird,Vacher luisant,Shiny Cowbird
2,,,,,,,https://www.oiseaux.net/photos/raphael.jordan/...,,,,,Vacher bronzé (Molothrus aeneus) est un oiseau...,Vacher bronzé,26,026.Bronzed_Cowbird,Vacher bronzé,Bronzed Cowbird
3,"Vieillot, 1819",,38 à 41 cm.,melancholicus,\r\n,Tyrannidés,https://www.oiseaux.net/photos/denis.chavigny/...,https://www.oiseaux.net/maps/images/tyran.mela...,Passériformes,32 à 43 g,24 cm,Tyran mélancolique (Tyrannus melancholicus) es...,Tyran mélancolique,77,077.Tropical_Kingbird,Tyran mélancolique,Tropical Kingbird
4,"Linnaeus, 1758",,34 cm.,crinitus,\r\n,Tyrannidés,https://www.oiseaux.net/photos/denis.chavigny/...,,Passériformes,27 à 40 g,21 cm,Tyran huppé (Myiarchus crinitus) est un oiseau...,Tyran huppé,38,038.Great_Crested_Flycatcher,Tyran huppé,Great Crested Flycatcher